* {
	padding: 0;
	margin: 0;
	font-family: 'Quicksand', sans-serif;
	color: #333;
}
header {
	height: 70px;
}
header h1 {
	display: inline-block;
	float: left;
	padding: 16px 24px;
	text-transform: uppercase;
}
header h1 a {
	transition: .3s;
}
header h1 a:hover {
	color: rgb(240, 46, 46);
}
header ul{
	float: right;
}
header ul li {
	padding: 24px;
	display: inline-block;
}
header ul li a {
	transition: .2s;
}
header ul li a:hover {
	color: rgb(240, 45, 45);
}
a {
	text-decoration: none;
}
.container {
	width: 90%;
	margin: 0 auto;
}
.container::after {
	content: '';
	display: block;
	clear: both;
}
.mobile-menu {
	float: right;
	display: none;
	padding: 18px;
}
.mobile-menu:hover {
	cursor: pointer;
}
#check {
	display: none;
}

/* CSS SideBar */
.sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: -300px;
	width: 300px;
	background-color: #47371f;
	transition: .3s;
	z-index: 9999;
}
.sidebar ul li a {
	color: #fff;
}
.sidebar ul li {
	padding: 24px;
	transition: .3s;
	transition-property: background-color;
}
.sidebar ul li:hover {
	background-color: rgb(50, 47, 47);
}
#check:checked ~ .sidebar {
	left: 0;
}
.banner {
	background-color: #b0c4de;
	padding: 120px 0;
}
section {
	padding: 50px;
}
.banner img {
	width: 120px;
	border-radius: 10px;
	box-shadow: 0 5px 6px #ddd;
	margin-bottom: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.banner h2,
.banner p,
.banner span {
	color: #fff;
}
.banner h2 {
	margin-bottom: 10px;
	text-align: center;
}
.banner p {
	font-size: 10px;
	font-size: small;
	text-align: center;
}
.banner-left {
	padding-left: 4px;
}
section h3 {
	padding-bottom: 20px;
	text-align: center;
	margin: 20px;
	position: relative;
}
section h3::before {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	width: 120px;
	height: 1px;
	background-color: #ddd;
	left: calc(50% - 60px);
}
section h3::after {
	content: '';
	display: block;
	position: absolute;
	bottom: -1px;
	width: 40px;
	height: 4px;
	background-color: #A5885C;
	left: calc(50% - 20px);
}
#home p {
	text-align: justify;
	text-indent: 35px;
	line-height: 25px;
	margin-bottom: 15px;
}

#about p {
	text-align: justify;
	text-indent: 35px;
	line-height: 25px;
	margin-bottom: 15px;
}
#more {
	display: none;
}
.col-3 {
	width: 33.30%;
	box-sizing: border-box;
	float: left;
	text-align: center;
	padding: 50px 10px;
}
.col-3 h4 {
	padding-bottom: 10px;
	border-bottom: 1px solid rgb(200, 200, 200);
	margin-bottom: 15px;
}
footer {
	background-color: rgb(176, 196, 222);
	padding: 50px;
	text-align: center;
}
footer small {
	color: #fff;
}
html {
	scroll-behavior: smooth;
}
.container .readmore {
	font-size: 20px;
}
.container .readmore:hover {
	background-color: #D6EAF8
	color #A5885C;
}
@media (max-width: 1000px) {
	.mobile-menu {
		display: block;
	}
	header ul {
		display: none;
	}
	.col-3 {
		width: 100%
	}
}